<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <filter>
	<filter-name>LoginFilter</filter-name>
	<filter-class>com.test.util.LoginFilter</filter-class>
	<init-param>
		<param-name>charset</param-name>
		<param-value>utf-8</param-value>
	</init-param>
	<init-param>
		<param-name>accept</param-name>
		<param-value>login.jsp;.css;.js;login;loginService</param-value>
	</init-param>
</filter>
	<filter>
		<filter-name>PostTypeFilter</filter-name>
		<filter-class>com.test.util.PostTypeFilter</filter-class>
		<init-param>
			<param-name>postPage</param-name>
			<param-value>method=add;method=refresh;died;delete</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StaticMain</servlet-name>
    <servlet-class>com.test.service.StaticMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DomainAddService</servlet-name>
    <servlet-class>com.test.service.DomainAddService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DomainSearch</servlet-name>
    <servlet-class>com.test.service.DomainSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DNSMain</servlet-name>
    <servlet-class>com.test.service.DNSMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DNSAddService</servlet-name>
    <servlet-class>com.test.service.DNSAddService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LanguageMain</servlet-name>
    <servlet-class>com.test.service.LanguageMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LanguageService</servlet-name>
    <servlet-class>com.test.service.LanguageService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.test.service.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>com.test.service.LoginService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.test.service.UserInfo</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>StaticMain</servlet-name>
    <url-pattern>/admin/statistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DomainAddService</servlet-name>
    <url-pattern>/admin/domain_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DomainSearch</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DNSMain</servlet-name>
    <url-pattern>/admin/dns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DNSAddService</servlet-name>
    <url-pattern>/admin/dns_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LanguageMain</servlet-name>
    <url-pattern>/admin/language</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LanguageService</servlet-name>
    <url-pattern>/admin/language_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/user/loginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
